@font-face {
    font-family: "BebasNeue";
    src: url(font/BebasNeue.otf);
}

body {
    background-color: #aca5a5;
}

#gameContainer {
    position : absolute;
    height : 100%;
    width: 100%;
    margin:0;
    top:0;
    left:0;
    padding:0
}

canvas{
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	top:0;
	left:0;
}

#gui {
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	padding:20px;
}

#gametitle {
	font-family: "BebasNeue";
	font-size: 120px;
	color: white;
}

